@use 'sass:map';

// GLOBAL COLORS
$colors: (
  black: #202124,
  grey: #5f6368,
  blue: #1a73e8,
  white: #fff,
  green: #34a853,
);

// GLOBAL FONTS
$fonts: (
  inter: 'Inter',
  segoe_ui: 'Segoe UI',
);

// GLOBAL SIZING
$max-width-layout: 48rem;
$max-width-content: 40rem;

// Vars functions
@function color($c) {
  @return map.get($colors, $c);
}

@function font($f) {
  @return map.get($fonts, $f);
}
